# Dane uwierzytelniające KSeF do testów
# Skopiuj ten plik jako .env i uzupełnij własnymi danymi.
# Plik .env NIE jest śledzony przez git.

KSEF_TEST_NIP=9531943265
KSEF_TEST_TOKEN=
KSEF_PROD_NIP=9531943265
KSEF_PROD_TOKEN=
KSEF_DEMO_NIP=9531943265
KSEF_DEMO_TOKEN=